.chartBarsWrap {
  padding-left: 40px;
  margin: 0 30px 0 20px;
}
.chartBars {
  position: relative;
  max-width: 600px;
  height: 300px;
  margin: 50px auto 100px;
}
.chartBars .bars {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  border-left: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  width: 100%;
  height: 100%;
  padding: 0;
  padding: 0 1%;
  margin: 0;
}
.chartBars .bars li {
  display: inline-block;
  -webkit-box-flex: 0;
          flex: 0 1 24%;
  height: 100%;
  margin: 0;
  text-align: center;
  position: relative;
  font-size: 16px;
}
.chartBars .bars li .bar {
  width: 100%;
  background: #49E;
  position: absolute;
  font-size: 1.5em;
  color: #fff;
  padding-top: 18px;
  bottom: 0;
  height: 0;
  overflow: hidden;
  font-weight: bold;
  outline: 2px solid transparent;
  -webkit-transition: 1.5s height cubic-bezier(0.6, 0.4, 0.4, 1.1);
  transition: 1.5s height cubic-bezier(0.6, 0.4, 0.4, 1.1);
}
.chartBars .bars li .bar:after {
  content: '%';
  font-size: 22px !important;
  vertical-align: top;
  color: rgba(255, 255, 255, 0.8);
  margin-right: -8px;
}
.chartBars .bars li b {
  color: #eee;
  width: 100%;
  position: absolute;
  bottom: -2em;
  left: 0;
  text-align: center;
}
.chartBars .numbers {
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: absolute;
  left: -50px;
}
.chartBars .numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 59px;
  position: relative;
  font-size: 13px;
  bottom: 11px;
  right: -9px;
  color: #eee;
}
.chartBars .numbers li:after {
  content: "\00af";
  position: relative;
  right: -5px;
  font-size: 20px;
  top: 7px;
  color: rgba(255, 255, 255, 0.34);
}
.chartBars .numbers li:first-of-type {
  height: 63px;
  margin-top: -1px;
}

.chartBarsWrap.chartBarsHorizontal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding-left: 70px;
}
.chartBarsWrap.chartBarsHorizontal .bars b {
  color: #eee;
  width: 100%;
  position: absolute;
  bottom: initial;
  
  left: -102%;
  text-align: right;
}
.chartBarsWrap.chartBarsHorizontal .chartBars {
  height: 200px;
}
.chartBarsWrap.chartBarsHorizontal .chartBars .bars {
  border: 0;
}
.chartBarsWrap.chartBarsHorizontal .chartBars .bars .bar {
  width: 0;
  padding-top: 10px;
  height: 100% !important;
  text-align: right;
  font-size: 1.5em;
  -webkit-transition: 2s width cubic-bezier(0.6, 0.4, 0.4, 1.1);
  transition: 2s width cubic-bezier(0.6, 0.4, 0.4, 1.1);
}
.chartBarsWrap.chartBarsHorizontal .chartBars .bars .bar:after {
  font-size: 0.6em !important;
  margin-right: 20px;
}
.bars li .bar.greenBar {
  background-color: #6B8E23;
  background: radial-gradient(#99cb32, #6B8E23);
}
.bars li .bar.greenBarFlat {
  background-color: #6B8E23;
}
.bars li .bar.blueBar {
  background-color: #49E;
  background: radial-gradient(#8abff4, #49E);
}
.bars li .bar.blueBarFlat {
  background-color: #49E;
}
.bars li .bar.orangeBar {
  background-color: orange;
  background: radial-gradient(#ffc04d, #FFA500);
}
.bars li .bar.orangeBarFlat {
  background-color: orange;
}
.bars li .bar.redFlat {
  background-color: red;
}
.bars li .bar.yellowBarFlat {
  background-color: rgb(221, 221, 12);
}
.bars li .bar.purpleBar {
  background-color: #6e46af;
  background: radial-gradient(#9778c9, #6e46af);
}
.bars li .bar.purpleBarFlat {
  background-color: #6e46af;
}
.bars li .bar.GreenBarFlat {
  background-color: #7febd0;
}
.box-piesite {
  text-align: center;
  font-size: 22px;
}

.chartBarsHorizontal .chartBars .bars {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
